# Ignore uploaded images in static folder
static/*.png
!static/style.css

# Python virtual environment
env/

# Python cache and build files
__pycache__/
*.py[cod]
*$py.class

# IDE specific files
.vscode/
.idea/

# Other common ignores
*.log
*.tmp
*.swp
*.DS_Store