body {
    font-family: 'Funnel Sans', sans-serif;
    text-align: center;
    margin-top: 50px;
    background: linear-gradient(75deg,#cf9bed90 4%,#7192da 86%);
    height: 100vh;
}

form {
    margin-bottom: 30px;
}

button {
    padding: 10px 20px;
    background-color: #0066cc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #004999;
}

img {
    margin: 5px;
    border: 2px solid #ddd;
    border-radius: 10px;
    width: 200px;
    height: auto;
}

canvas {
    margin: 5px;
    border: 2px solid #ddd;
    border-radius: 10px;
    width: 200px;
    height: auto;
}

.box {
    background: #ffffff7b;
    width: 65%;
    max-width: 1000px;
    margin: 40px auto;
    padding: 40px;
    display: grid;
    gap: 20px;
    position: relative;
    border-radius: 30px;
}

.h1 {
    font-size: larger;
    text-align: center;
    text-transform: uppercase;
}

.container {
    background: #ffffffb0;
    width: 45%;
    max-width: 1000px;
    margin: 10px auto;
    padding: 20px;
    display: grid;
    gap: 20px;
    position: relative;
    border-radius: 30px;
}

.square {
    background: #ffffffb0;
    width: 80%;
    max-width: 1000px;
    margin: 10px auto;
    padding: 20px;
    display: grid;
    gap: 20px;
    position: relative;
    border-radius: 30px;
    grid-template-columns: 1fr 2fr;
}

.kotak {
    background: #ffffffb0;
    width: 210px;
    max-width: 1000px;
    margin: 10px 12px;
    padding: 30px;
    display: grid;
    gap: 5px;
    position: relative;
    border-radius: 30px;
}

.kotak1 {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#imageCanvas {
    border: 2px solid black;
    display: block;
    max-width: 100%;
    margin-bottom: 10px;
    background: yellow;
}

.download-btn {
    padding: 10px 20px;
    background-color: #0066cc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.download-btn:hover {
    background-color: #004999;
    box-shadow: 0 0 10px #004999, 0 0 20px #004999;
    transition: all 0.3s ease-in-out;
}
