<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edge Detection</title>
</head>
<body>
    <div class="container">
        <h2>Upload Gambar untuk Edge Detection</h2>
        <form action="/" method="post" enctype="multipart/form-data">
            <label for="file-upload" class="custom-file-upload">
                <i class="fas fa-cloud-upload-alt"></i>
                Pilih Gambar
            </label>
            <input id="file-upload" type="file" name="file">
            <button type="submit"><i class="fas fa-magic"></i> Deteksi Tepi</button>
        </form>

    </div>


</body>
</html> 