<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Edge Detection</title>
</head>
<body>
    <div class="container">
        <h2>Upload Gambar untuk Edge Detection</h2>
        <form action="/" method="post" enctype="multipart/form-data">
            <label for="file-upload" class="custom-file-upload">
                <i class="fas fa-cloud-upload-alt"></i>
                Pilih Gambar
            </label>
            <input id="file-upload" type="file" name="file">
            <button type="submit"><i class="fas fa-magic"></i> Deteksi Tepi</button>
            
        </form>
        {% if uploaded_image %}
        <p>Image uploaded successfully!</p>
        <div class="image-row">
            <div class="image-container">
                <h3>Gambar Asli:</h3>
                <img src="{{ url_for('static', filename=uploaded_image) }}" width="300px">
            </div>
            <div class="image-container">
                <h3>Hasil Edge Detection:</h3>
                <img src="{{ url_for('static', filename=output_image) }}" width="300px">
            </div>
        </div>
        {% endif %}

        {% if uploaded_image and output_image %}
            <hr>
            <h3>Riwayat Hasil Edge Detection:</h3>
            <div class="history-gallery">
                {% for image in history %}
                <div class="history-card">
                    <div class="image-pair">
                        <div>
                            <h4>Asli</h4>
                            <img src="/static/{{ image.original }}" width="150">                        </div>
                        <div>
                            <h4>Edge</h4>
                            <img src="/static/{{ image.processed }}" width="150">                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</body>
</html> 